<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ExtraSpace</key>
	<integer>0</integer>
	<key>AppearAnimationTime</key>
	<real>0</real>
	<key>AdsEnabled</key>
	<true/>
	<key>AutoShowInterstitial</key>
	<true/>
	<key>AutoInterstitialTimeBetweenEachInMinutes</key>
	<integer>60</integer>
	<key>AutoInterstitialDelayAfterAppBecomeActive</key>
	<integer>5</integer>
	<key>AdmobRefreshInterval</key>
	<integer>60</integer>
	<key>kMopubIphoneBanner</key>
	<string></string>
	<key>kMopubIphoneInterstitialPortrait</key>
	<string></string>
	<key>kMopubIphoneInterstitialLandscape</key>
	<string></string>
	<key>kMopubTabletLeaderboard</key>
	<string></string>
	<key>kMopubTabletInterstitialPortrait</key>
	<string></string>
	<key>kMopubTabletInterstitialLandscape</key>
	<string></string>
	<key>kAdmobIphoneBanner</key>
	<string></string>
	<key>kAdmobTabletLeaderboard</key>
	<string></string>
	<key>kAdmobIphoneInterstitialProtrait</key>
	<string></string>
	<key>kAdmobIphoneInterstitialLandscape</key>
	<string></string>
	<key>kAdmobTabletInterstitialProtrait</key>
	<string></string>
	<key>kAdmobTabletInterstitialLandscape</key>
	<string></string>
</dict>
</plist>
